# Devenv
.devenv*
devenv.local.nix
*.egg-info
.venv
.python-version
# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.DS_Store
.ipynb_checkpoints
wheel/*

*.o
*.so
*.dylib
*.bc
*.x
*.pyc

**/node_modules

# docs
sphinx/api/generated
sphinx/jupyter_execute
sphinx/.jupyter_cache
sphinx/build
build
/.envrc